@import '../../styles/general.scss';


.row__link_container {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px solid $grey5;
    color: $blue2;
    text-decoration: none;
  
    &[exit='true'] {
      border: none;
      color: $red1;
  
      a {
        color: $red1;
      }
    }
  }
  
  .row__link {
    color: $blue2;
  }
